<!--
 * Title: contact.component.
 * Author: Erica Perry
 * Date: 21 Jan 2021
 * Description: contact
 -->

<div class="contact-container">

    <div class="row">
      <div class="col-sm-12">
        <h3 style="padding-left: 27%;">Welcome to the Contact Us page</h3>
      </div>
    </div>
  
    <br /><br />
    <div class="row">
  
      <div class="col-sm-6">
        <div class="row location">
          <div class="col-sm-12">
            <h1><i class="fas fa-location-arrow text-secondary"></i></h1>
          </div>
        </div>
        
  <!-- craeting a field for my address information -->
        
        <div class="row location">
          <div class="col-sm-12">
            <ul class="list-group">
              <li class="list-group-item border-0">3000 Beachside Rd</li>
              <li class="list-group-item border-0">Milton, Massachusetts 90783</li>
            </ul>
          </div>
        </div>
      </div>
  
      <div class="col-sm-6">
        <div class="col-sm-6">
          <div class="row location">
            <div class="col-sm-12">
              <h1><i class="fas fa-phone text-secondary"></i></h1>
            </div>
          </div>
          
  <!-- creating a field for my contact information -->
          <div class="row location">
            <div class="col-sm-12">
              <ul class="list-group">
                <li class="list-group-item border-0">Direct: 777-783-7777</li>
                <li class="list-group-item border-0">Toll-free: 1-800-980-1234</li>
                <li class="list-group-item border-0">Fax: 222-222-2221</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
