<!--
 * Title: contact.component.html
 * Author: Erica Perry
 * Date: Jan 30 2021
 * Description: contact.html -->


<div fxLayout="row wrap">
    <div fxFlex>
      <div fxLayout="column">
        <div>
          <!-- calling my photon for my author -->
          <img src="../assets/maya-angelou-1.jpg" />
        </div>
        <div>
          <em>
            <a class="attribution-link" target="_blank"> Deborah Feingold/Corbis via Getty Images</a>
          </em>
        </div>
      </div>
    </div>
  
    <div fxFlex>
      <h1 class="blue">Maya Angelou</h1>
      <p>
        Maya Angelou was a civil rights activist, poet and award-winning author known for her acclaimed 1969 memoir, 'I Know Why the Caged Bird Sings,' and her numerous poetry and essay collections.
        Who Was Maya Angelou?
        Maya Angelou was an American author, actress, screenwriter, dancer, poet and civil rights activist best known for her 1969 memoir, I Know Why the Caged Bird Sings, which made literary history as the first nonfiction bestseller by an African American woman. Angelou received several honors throughout her career, including two NAACP Image Awards in the outstanding literary work (nonfiction) category, in 2005 and 2009. 
        
        
      </p>
      <!-- link to where I got the information for the biography-->
      <em>Biography by: <a href="https://www.biography.com/writer/maya-angelou" target="_blank" class="attribution-link">Biography of Maya Angelou</a></em>
    </div>
  </div>
