<!--
Title: assignment 2.4
Author: Erica Perry
Date:1/9/2021
Modified: Erica Perry
Description: contact
-->

<!-- creating an adress alinging it to the left-->
<div class="row location">
            <div class="col-sm-12">
              <h1><i class="fas fa-phone text-secondary"></i></h1>
            </div>
          </div>
  <!-- creating a list of numbers aligned to the left of the page -->
          <div class="row location">
            <div class="col-sm-12">
              <ul class="list-group">
                <li class="list-group-item border-0">Direct: 777-783-7777</li>
                <li class="list-group-item border-0">Toll-free: 1-800-980-1234</li>
                <li class="list-group-item border-0">Fax: 222-222-2221</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
