<!--
Title: assignment 2.4
Author: Erica Perry
Date:1/9/2021
Modified: Erica Perry
Description: composer-list.component
-->
<!-- creating two table headers and two columns 
<div class="row">
    <div class="col-sm-12">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Full name</th>
            <th scope="col">Genre</th>
          </tr>
        </thead>
        <tbody *ngFor="let composer of composers">
          <tr>
            <td scope="row">{{ composer.fullName }}</td>
            <td>{{composer.genre}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

