<!--
Title: assignment 4.2
Author: Erica Perry
Date:1/18/2021
Modified: Erica Perry
Description: about.component
-->
<!-- creating a list with for mt composer id, full name, and genre-->
<div class="row">
  <div class="col-sm-12">
    <ul class="list-group">
      <li class="list-group-item">Composer ID: {{ composer.composerId }}</li>
      <li class="list-group-item">Full name: {{ composer.fullName}}</li>
      <li class="list-group-item">Genre: {{ composer.genre }}</li>
    </ul>
    <br />
    <a routerLink="/composer-list" class="float-right">Return to Composers</a>
  </div>
</div>
