<!-- 
Title: assignment 3.3
Author: Erica Perry
Date:1/18/2021
Modified: Erica Perry
Description: my-details.component.html
-->
<!-- creating a list of of my favorite iteams-->
<ul class="list-group">
  <li class="list-group-item">Name: {{ myProfile.fullName }}</li>
  <li class="list-group-item">Favorite food: {{ myProfile.favoriteFood }}</li>
  <li class="list-group-item">Favorite color: {{ myProfile.favoriteColor}}</li>
  <li class="list-group-item">Keywords:
    <span *ngFor="let word of myProfile.keywords">
      {{ word }}
    </span>
  </li>
</ul>
